<div
  class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-center justify-content-lg-around"
>
  <div
    class="bg-info bg-opacity-25 p-3 list-wrapper my-4 rounded-3"
    *ngFor="let list of lists"
  >
    <h4 class="text-capitalize text-center mb-3">{{ list.title }}</h4>
    <small
      *ngIf="list.items.length === 0"
      class="d-block text-center fst-italic"
    >
      Nothing to show in this list!
    </small>
    <ul *ngIf="list.items.length > 0" class="list-unstyled list-group">
      <app-task-item
        *ngFor="let task of list.items"
        [task]="task"
        (onDeleteEmitter)="deleteTaskHandler(task)"
        (onUpdateEmitter)="updateTaskHandler(task)"
      ></app-task-item>
    </ul>
  </div>
</div>
